body {
    margin: 0;
    padding: 0;
    background: url("bg.png");
    background-size: cover;       /* растягивает */
    background-position: center;  /* центрирует */
    background-repeat: no-repeat; /* не повторяет */
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}


.container {
    width: 100%;
    max-width: 480px;
    text-align: center;
    padding: 20px;
}

.balance {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.menu-btn {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    background: #222;
    color: #fff;
    cursor: pointer;
}

.menu-btn:hover {
    background: #333;
}

.click-btn {
    width: 220px;
    height: 220px;
    border: none;
    border-radius: 50%;
    background-image: url("circle.png");
    background-size: cover;      /* картинка растягивается */
    background-position: center; /* центрируется */
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.1s;
}


.click-btn:active {
    transform: scale(0.92);
}

